<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignite Family</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>
<body>
    <div class="banner" style="background-image: url('static/bg.jpg') ">
        <div class="navebar">
            <a href="#"><img class="logo" src="static/icon.ico" loading="lazy"  width="60px" height="60px"  ></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Instagram Page</a></li>
                <li><a href="https://www.youtube.com/c/tcservishal" target="_blank">YouTube Page</a></li>
                <li><a href="#">Blog Page</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="btn">
              <a href="/register" ><span></span>Sign-up</a>
              <a href="/login" ><span></span>Login</a>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>